<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" text="text/css" href="style.css"
</head>

<body>  
<h1>View All Customers</h1>

<ul>
  <% @@rolodex.customers.each do |contact| %>
  <li> <%= contact.first_name %> <%= contact.last_name %>, <%= contact.notes %>: <%= contact.email %>  </li>
  <% end %>
</ul>


</body>

<footer>
</footer>



</html>
