<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<h1>Welcome to <%= @crm_app_name %></h1>
<h5> <%= @current_time %> </h5>
<p>Main Menu</p>

<ul>
  <li><a href="/new">Add New Customer</a></li>
  <li><a href="/id">View Customer</a></li>
  <li><a href="/modify">Modify Customer</a></li> 
  <li><a href="/customers">View all Customers</a></li>

</ul>  

</body>

</html>

