<h1> Welcome to <%= @crm_app_name %> </h1>

 <!-- <p>Main menu</p>
  <ul>
    <li><a href="/customers">View all contacts</a></li>
 
  <li><a href="/customers/new">Create a new contact</a></li>
  </ul> -->