<!DOCTYPE html>
<html>

<head>
</head>

<body> 
<h1>Add New Customer</h1>

<form action="/contacts" method="post">
  <input type="text" name="first_name">First Name<br />
  <input type="text" name="last_name">Last Name<br />
  <input type="text" name="email">Email Address<br />
  <FORM NAME="formtext" ACTION=" " METHOD="get">
<TEXTAREA ROWS="6" COLS="14">

</TEXTAREA>Notes<br />
  <input type="submit" name"Submit">
</form>




</body>

<footer>
</footer>



</html>
